<a href="https://colab.research.google.com/github/aniket-asati/mygooglecollab/blob/main/IntroToPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import required libraries

import pandas as pd

In [ ]:
person = {'First Name':['Surbhi','Aniket'], 'Marks':[100,99]}
person

{'First Name': ['Surbhi', 'Aniket'], 'Marks': [100, 99]}

In [ ]:
# convert dict to df
df = pd.DataFrame(person)
df

  First Name  Marks
0     Surbhi    100
1     Aniket     99

In [ ]:
# add new columns in df (Techinique 1)
df  = df.assign(City=['New York','Chicago'])
df

  First Name  Marks      City
0     Surbhi    100  New York
1     Aniket     99   Chicago

In [ ]:
# add new columns in df (Techinique 2)
df.insert(1,"Section",["A","A"])
df

  First Name Section  Marks      City
0     Surbhi       A    100  New York
1     Aniket       A     99   Chicago

In [ ]:
# add new columns in df (Technique 3)
df['Last Name v1'] = ['Nayak','Asati']
df

  First Name Section  Marks      City Last Name v1
0     Surbhi       A    100  New York        Nayak
1     Aniket       A     99   Chicago        Asati

In [ ]:
df.insert(1,'Last Name',df['Last Name v1'],allow_duplicates=1)

In [ ]:
df.pop('Last Name v1')

0    Nayak
1    Asati
Name: Last Name v1, dtype: object

In [ ]:
df

  First Name Last Name Section  Marks      City
0     Surbhi     Nayak       A    100  New York
1     Aniket     Asati       A     99   Chicago